<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<meta name="description" content="">
	
	<meta name="author" content="">
	
	<link rel="icon" href="static/images/Linear.jpg">
	
	<title>Linear Logger</title>

    <!-- Bootstrap core CSS -->
    <link href="static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Icons -->
    <link href="static/css/font-awesome.css" rel="stylesheet">
    
    <!--Fonts-->
    <link href="static/css/fonts-all.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="static/css/style.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid" id="wrapper">
		<div class="row">
			<nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2 bg-faded sidebar-style-1">
				<h1 class="site-title"><a href="/"><em class="fa fa-television"></em> Logger</a></h1>
				
				<a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>
				
				<ul class="nav nav-pills flex-column sidebar-nav">
					<li class="nav-item"><a class="nav-link" href="/welcome"><em class="fa fa-th"></em> Welcome</a></li>
					<li class="nav-item"><a class="nav-link" href="/ftp_settings"><em class="fa fa-cog"></em> Network Setting</a></li>
					<li class="nav-item"><a class="nav-link active" href="/modbus_settings"><em class="fa fa-cog"></em> MODBUS Settings <span class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link" href="/zigbee_settings"><em class="fa fa-cog"></em> Zigbee Settings</a></li>
					<li class="nav-item"><a class="nav-link" href="/general_settings"><em class="fa fa-cog"></em> General Settings</a></li>
					<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
			          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
			            <i class="fa fa-file-o"></i>
			            <span class="nav-link-text">Rtu file settings</span>
			          </a>
			          <ul class="sidenav-second-level collapse" id="collapseComponents">
			            <li class="nav-item"><a class="nav-link" href="/rtu_create"><em class="fa fa-file-o"></em> Create RTU</a></li>
			            <li class="nav-item"><a class="nav-link" href="/rtu_edit"><em class="fa fa-file-o"></em> Edit RTU</a></li>
			          </ul>
			        </li>
					<li class="nav-item"><a class="nav-link" href="/data_files"><em class="fa fa-folder-o"></em> Data Files</a></li>
					<li class="nav-item"><a class="nav-link" href="/log"><em class="fa fa-file-text-o"></em> Log Files</a></li>
				</ul>
				
				<a href="/signout" class="logout-button"><em class="fa fa-power-off"></em> Signout</a></nav>
			
			<main class="col-xs-12 col-sm-8 offset-sm-4 col-lg-9 offset-lg-3 col-xl-10 offset-xl-2 pt-3 pl-4">
				<header class="page-header row justify-center">
					<div class="col-md-6 col-lg-8" >
						<h1 class="float-left text-center text-md-left">MODBUS Settings</h1>
					</div>
					
					<div class="dropdown user-dropdown col-md-6 col-lg-4 text-center text-md-right"><a class="btn btn-stripped dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img src="static/images/Linear.jpg" alt="profile photo" class="circle float-left profile-photo" width="100" height="auto">
						
						<div class="username mt-1">
							<h4 class="mb-1">{{active_user}}</h4>
							
							<h6 class="text-muted">Admin</h6>
						</div>
						</a>
						
						<div class="dropdown-menu dropdown-menu-right" style="margin-right: 1.5rem;" aria-labelledby="dropdownMenuLink">
						     <a class="dropdown-item" href="/signout"><em class="fa fa-power-off mr-1"></em> Logout</a></div>
					</div>
					
					<div class="clear"></div>
				</header>
				
				<section class="row">
					<div class="col-sm-12">
						<section class="row">
							<div class="col-md-12 col-lg-8">
								<form class="form-horizontal" action="/modbus_settings" method="post">
									<fieldset>
										<!-- MODBUS filename Output-->
										<div class="form-group">
											<div class="row">
												<div class="col-sm-6">
													<label class="col" for="filename">MODBUS Output Filename</label>
													<div class="col">
														<input id="filename" name="filename" type="text" placeholder="Enter name for the Output file " class="form-control">
													</div>
												</div>
												<div class="col-sm-4">
													<label class="col" for="filename">MODBUS Interval</label>
													<div class="col">
														<input id="interval" name="interval" type="number" step=".5" min="10" max="7200" placeholder="10-7200 Seconds" class="form-control">
													</div>
												</div>
											</div>
										</div>

										<!-- Form actions -->
										<div class="form-group">
											<div class="col-12 widget-right no-padding">
												<button id="sub" type="submit" class="btn btn-primary btn-md float-right">Submit</button>
											</div>
										</div>
									</fieldset>
								</form>	
							</div>
						</section>
					</div>
				</section>
			</main>

			<!-- Comport Settings -->
			<main class="col-xs-12 col-sm-8 offset-sm-4 col-lg-9 offset-lg-3 col-xl-10 offset-xl-2 pt-3 pl-4">
				<header class="page-header row justify-left">
					<div class="col-md-6 col-lg-8" >
						<h1 class="float-left text-center text-md-left">COM PORT Settings</h1>
					</div>
					
					<div class="clear"></div>
				</header>
				
				<section class="row">
					<div class="col-sm-12">
						<section class="row">
							<div class="col-md-12 col-lg-8">
								<form class="form-horizontal" action="/com_settings" method="post">
									<fieldset>
										<!-- PORT A -->
										<div class="col" >
											<h4 class="float-left text-center text-md-left">PORT A</h4>
										</div>
										<br>
										<br>
										<div class="form-group">
											<div class="row">
												
												<div class="col-sm-3">
													<label class="col" for="status_a">Status</label>
													<div class="col">
														<select id="inputState" name="status_a" class="form-control">
												        <option selected>Choose...</option>
												        <option value="Enabled">Enabled</option>
												        <option value="Disabled">Disabled</option>
												      </select>
													</div>
												</div>
												<div class="col-sm-3">
													<label class="col" for="baudrate_a">Baudrate</label>
												      <select id="inputState" name="baudrate_a" class="form-control">
												        <option selected>Choose...</option>
												        <option value="9600">9600</option>
												        <option value="19200">19200</option>
												      </select>
												</div>
												<div class="col-sm-3">
													<label class="col" for="parity_a">Parity</label>
													<div class="col">
														<select id="inputState" name="parity_a" class="form-control">
												        <option selected>Choose...</option>
												        <option value="O">Odd</option>
												        <option value="E">Even</option>
												        <option value="N">None</option>
												      </select>
													</div>
												</div>
												
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-sm-3">
													<label class="col" for="stopbits_a">Stopbits</label>
													<div class="col">
														<select id="inputState" name="stopbits_a" class="form-control">
												        <option selected>Choose...</option>
												        <option value="1">1</option>
												        <option value="2">2</option>
												      </select>
													</div>
												</div>
												<div class="col-sm-3">
													<label class="col" for="databits_a">Databits</label>
													<select id="inputState" name="databits_a" class="form-control">
												        <option selected>Choose...</option>
												        <option value="7">7</option>
												        <option value="8">8</option>
												      </select>
												</div>
												<div class="col-sm-3">
													<label class="col" for="timeout_a">timeout</label>
													<div class="col">
														<input id="timeout" name="timeout_a" type="number" min="1" max="5" placeholder="1-5" class="form-control">
													</div>
												</div>
											</div>
										</div>

										<!-- PORT B -->

										<div class="col" >
											<h4 class="float-left text-center text-md-left">PORT B</h4>
										</div>
										<br>
										<br>
										<div class="form-group">
											<div class="row">
												
												<div class="col-sm-3">
													<label class="col" for="status_b">Status</label>
													<div class="col">
														<select id="inputState" name="status_b" class="form-control">
												        <option selected>Choose...</option>
												        <option value="Enabled">Enabled</option>
												        <option value="Disabled">Disabled</option>
												      </select>
													</div>
												</div>
												<div class="col-sm-3">
													<label class="col" for="baudrate_b">Baudrate</label>
												      <select id="inputState" name="baudrate_b" class="form-control">
												        <option selected>Choose...</option>
												        <option value="9600">9600</option>
												        <option value="19200">19200</option>
												      </select>
												</div>
												<div class="col-sm-3">
													<label class="col" for="parity_b">Parity</label>
													<div class="col">
														<select id="inputState" name="parity_b" class="form-control">
												        <option selected>Choose...</option>
												        <option value="O">Odd</option>
												        <option value="E">Even</option>
												        <option value="N">None</option>
												      </select>
													</div>
												</div>
												
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-sm-3">
													<label class="col" for="stopbits_b">Stopbits</label>
													<div class="col">
														<select id="inputState" name="stopbits_b" class="form-control">
												        <option selected>Choose...</option>
												        <option value="1">1</option>
												        <option value="2">2</option>
												      </select>
													</div>
												</div>
												<div class="col-sm-3">
													<label class="col" for="databits_b">Databits</label>
													<select id="inputState" name="databits_b" class="form-control">
												        <option selected>Choose...</option>
												        <option value="7">7</option>
												        <option value="8">8</option>
												      </select>
												</div>
												<div class="col-sm-3">
													<label class="col" for="timeout_b">timeout</label>
													<div class="col">
														<input id="timeout" name="timeout_b" type="number" min="1" max="5" placeholder="1-5" class="form-control">
													</div>
												</div>
											</div>
										</div>

										<!-- Form actions -->
										<div class="form-group">
											<div class="col-12 widget-right no-padding">
												<button id="sub" type="submit" class="btn btn-primary btn-md float-right">Submit</button>
											</div>
										</div>
									</fieldset>
								</form>	
							</div>
						</section>
					</div>
				</section>
			</main>


		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/dist/js/bootstrap.min.js"></script>
    
	<script src="static/js/tether.min.js"></script>
    
	  </body>
</html>
