<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<meta name="description" content="">
	
	<meta name="author" content="">
	
	<link rel="icon" href="static/images/Linear.jpg">
	
	<title>Linear Logger</title>

    <!-- Bootstrap core CSS -->
    <link href="static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--Fonts-->
    <link href="static/css/fonts-all.css" rel="stylesheet">
    
    <!-- Icons -->
    <link href="static/css/font-awesome.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="static/css/style.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid" id="wrapper">
		<div class="row">
			<nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2 bg-faded sidebar-style-1">
				<h1 class="site-title"><a href="/"><em class="fa fa-television"></em> Logger</a></h1>
				
				<a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>
				
				<ul class="nav nav-pills flex-column sidebar-nav">
					<li class="nav-item"><a class="nav-link" href="/welcome"><em class="fa fa-th"></em> Welcome</a></li>
					<li class="nav-item"><a class="nav-link" href="/ftp_settings"><em class="fa fa-cog"></em> Network Setting</a></li>
					<li class="nav-item"><a class="nav-link" href="/modbus_settings"><em class="fa fa-cog"></em> MODBUS Settings</a></li>
					<li class="nav-item"><a class="nav-link" href="/zigbee_settings"><em class="fa fa-cog"></em> Zigbee Settings</a></li>
					<li class="nav-item"><a class="nav-link" href="/general_settings"><em class="fa fa-cog"></em> General Settings</a></li>
					<li class="nav-item"><a class="nav-link active" href="/rtu_create"><em class="fa fa-file-o"></em> Rtu file settings <span class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link" href="/data_files"><em class="fa fa-folder-o"></em> Data Files</a></li>
					<li class="nav-item"><a class="nav-link" href="/log"><em class="fa fa-file-text-o"></em> Log Files</a></li>
				</ul>
				
				<a href="/signout" class="logout-button"><em class="fa fa-power-off"></em> Signout</a></nav>
			
			<main class="col-xs-12 col-sm-8 offset-sm-4 col-lg-9 offset-lg-3 col-xl-10 offset-xl-2 pt-3 pl-4">
				<header class="page-header row justify-center">
					<div class="col-md-6 col-lg-8" >
						<h1 class="float-left text-center text-md-left">RTU File Generator</h1>
					</div>
					
					<div class="dropdown user-dropdown col-md-6 col-lg-4 text-center text-md-right"><a class="btn btn-stripped dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img src="static/images/Linear.jpg" alt="profile photo" class="circle float-left profile-photo" width="100" height="auto">
						
						<div class="username mt-1">
							<h4 class="mb-1">{{active_user}}</h4>
							
							<h6 class="text-muted">Admin</h6>
						</div>
						</a>
						
						<div class="dropdown-menu dropdown-menu-right" style="margin-right: 1.5rem;" aria-labelledby="dropdownMenuLink">
						     <a class="dropdown-item" href="/signout"><em class="fa fa-power-off mr-1"></em> Logout</a></div>
					</div>
					
					<div class="clear"></div>
				</header>

				<div>
				{% if edit_en %}
				    <section class="row">
						<div class="col-sm-12">
							<section class="row">
								<div class="col-md-12 col-lg-9">
									<form class="form-horizontal" action="/rtu_create" method="post">
										<fieldset>
											<!-- file name input-->
											<div class="form-group">											
												<div class="row">
													<div class="col-sm-4">
														<label class="col" for="name">File Name</label>
														<input id="filename" name="filename" type="text" placeholder="use A-Z, 0-9" class="form-control" value={{rtu_data[0]}} >
													</div>	
													<div class="col-sm-4">
														<label class="col" for="device">Device Address</label>
														<input id="device" name="device" type="number" min="1" max="250" placeholder="1-250 " class="form-control" value={{rtu_data[3]}}>
													</div>
													<div class="col-sm-4">
														<label class="col" for="retry">Retry Count</label>
														<input id="retry" name="retry" type="number" min="0" max="5" placeholder="0-5" class="form-control" value={{rtu_data[4]}}>
													</div>
												</div>
											</div>

											<div class="form-group">											
												<div class="row">
													<div class="col-sm-6">
														<label class="col" for="name">File Activeness Status</label>
														{% if rtu_data[1] == 'True' %}
														<div class="btn-group" data-toggle="buttons">
														  <label class="btn btn-primary active">
														    <input type="radio" name="status" id="option1" value="True" autocomplete="off" checked> True
														  </label>
														  <label class="btn btn-primary">
														    <input type="radio" name="status" id="option2" value="False" autocomplete="off"> False
														  </label>
														</div>
														{% else %}
														<div class="btn-group" data-toggle="buttons">
														  <label class="btn btn-primary">
														    <input type="radio" name="status" id="option1" value="True" autocomplete="off"> True
														  </label>
														  <label class="btn btn-primary active">
														    <input type="radio" name="status" id="option2" value="False" autocomplete="off" checked> False
														  </label>
														</div>
														{% endif %}
													</div>	
													<div class="col-sm-6">
														<label class="col" for="name">Endian Mode</label>
														{% if rtu_data[2] == 'little' %}
														<div class="btn-group" data-toggle="buttons">
														  <label class="btn btn-primary active">
														    <input type="radio" name="endian" id="option1" value="little" autocomplete="off" checked> Little
														  </label>
														  <label class="btn btn-primary">
														    <input type="radio" name="endian" id="option2" value="big" autocomplete="off"> Big
														  </label>
														</div>
														{% else %}
														<div class="btn-group" data-toggle="buttons">
														  <label class="btn btn-primary">
														    <input type="radio" name="endian" id="option1" value="little" autocomplete="off"> Little
														  </label>
														  <label class="btn btn-primary active">
														    <input type="radio" name="endian" id="option2" value="big" autocomplete="off" checked> Big
														  </label>
														</div>
														{% endif %}
													</div>
												</div>
											</div>

											<!-- Read Addresses-->
											<div class="container">
										        <div class="form-group">
								        			<label class="col" for="name"><h5>Read Addresses</h5></label>

								        			{% for cnt in range(rtu_data[5]|length) %}
								        			<div class="after-add-more">		
								      					<div class="row">
										        			<div class="col-sm-3">
											      				<label class="col" for="addresses">Start Address</label>
											      				<div class="input-group control-group">
														   			<input name="start_addr[]" class="form-control" type="number" min="1" max="9999" placeholder="1-9999" value={{rtu_data[5][cnt]}}>
																</div>
															</div>
															<div class="col-sm-3">
																<label class="col" for="length">Read Length</label>
											      				<div class="input-group control-group">
														   			<input name="length[]" class="form-control" type="number" min="1" max="100" placeholder="1-100" value={{rtu_data[6][cnt]}}>
																</div>
															</div>
															<div class="col-sm-6">
																<label class="col" for="datatype[]">Select Datatype</label>

																{% if rtu_data[7][cnt] == 'U16' %}
																<div class="btn-group control-group" data-toggle="buttons">
																  <label class="btn btn-primary active">
																    <input type="radio" class="dtt" name="datatype{{cnt+1}}" id="option1" value="U16" autocomplete="off" checked> U16
																  </label>
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatype{{cnt+1}}" id="option2" value="U32" autocomplete="off"> U32
																  </label>
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatype{{cnt+1}}" id="option3" value="S16" autocomplete="off" > S16
																  </label>
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatype{{cnt+1}}" id="option4" value="S32" autocomplete="off"> S32
																  </label>
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatype{{cnt+1}}" id="option5" value="F" autocomplete="off" > Float
																  </label>
																</div>
																{% elif rtu_data[7][cnt] == 'U32' %}
																<div class="btn-group control-group" data-toggle="buttons">
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatype{{cnt+1}}" id="option1" value="U16" autocomplete="off"> U16
																  </label>
																  <label class="btn btn-primary active">
																    <input type="radio" class="dtt" name="datatype{{cnt+1}}" id="option2" value="U32" autocomplete="off" checked> U32
																  </label>
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatype{{cnt+1}}" id="option3" value="S16" autocomplete="off" > S16
																  </label>
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatype{{cnt+1}}" id="option4" value="S32" autocomplete="off"> S32
																  </label>
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatype{{cnt+1}}" id="option5" value="F" autocomplete="off" > Float
																  </label>
																</div>
																{% elif rtu_data[7][cnt] == 'S16' %}
																<div class="btn-group control-group" data-toggle="buttons">
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatype{{cnt+1}}" id="option1" value="U16" autocomplete="off"> U16
																  </label>
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatype{{cnt+1}}" id="option2" value="U32" autocomplete="off"> U32
																  </label>
																  <label class="btn btn-primary active">
																    <input type="radio" class="dtt" name="datatype{{cnt+1}}" id="option3" value="S16" autocomplete="off" checked> S16
																  </label>
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatype{{cnt+1}}" id="option4" value="S32" autocomplete="off"> S32
																  </label>
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatype{{cnt+1}}" id="option5" value="F" autocomplete="off" > Float
																  </label>
																</div>
																{% elif rtu_data[7][cnt] == 'S32' %}
																<div class="btn-group control-group" data-toggle="buttons">
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatype{{cnt+1}}" id="option1" value="U16" autocomplete="off" > U16
																  </label>
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatype{{cnt+1}}" id="option2" value="U32" autocomplete="off"> U32
																  </label>
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatype{{cnt+1}}" id="option3" value="S16" autocomplete="off" > S16
																  </label>
																  <label class="btn btn-primary active" >
																    <input type="radio" class="dtt" name="datatype{{cnt+1}}" id="option4" value="S32" autocomplete="off" checked> S32
																  </label>
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatype{{cnt+1}}" id="option5" value="F" autocomplete="off" > Float
																  </label>
																</div>
																{% elif rtu_data[7][cnt] == 'F' %}
																<div class="btn-group control-group" data-toggle="buttons">
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatype{{cnt+1}}" id="option1" value="U16" autocomplete="off"> U16
																  </label>
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatype{{cnt+1}}" id="option2" value="U32" autocomplete="off"> U32
																  </label>
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatype{{cnt+1}}" id="option3" value="S16" autocomplete="off" > S16
																  </label>
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatype{{cnt+1}}" id="option4" value="S32" autocomplete="off"> S32
																  </label>
																  <label class="btn btn-primary active">
																    <input type="radio" class="dtt" name="datatype{{cnt+1}}" id="option5" value="F" autocomplete="off" checked > Float
																  </label>
																</div>
																{% endif %}
															</div>
														</div>
														
														<input type="text" name="datatype[]" id="datatp{{cnt+1}}" class=" hidden-sm-up datatype_entry" value="{{rtu_data[7][cnt]}}">

														{% if cnt < (rtu_data[5]|length)-1 %}
														<div class="col-12 widget-right no-padding"> 
														 	<button class="btn btn-primary btn-md float-right remove" type="button"><i class="fa fa-minus-square"></i> Remove</button>
														 </div>
														{% else %}
														 <div class="col-12 widget-right no-padding"> 
															<button class="btn btn-primary btn-md float-right add-more" type="button"><i class="fa fa-plus-square"></i> Add</button>
														</div>
														 {% endif %}

														<br>
														<br>
													</div>
								        			{% endfor %}

										        </div>

										        <!-- Copy Fields-These are the fields which we get through jquery and then add after the above input,-->
										        
										        <div class="copy-fields hidden-sm-up">
										        	<div class="after-add-more">	
										      			<div class="row">
										      				<div class="col-sm-3">
													      		<label class="col" for="addresses">Start Address</label>
													      		<div class="input-group control-group">
																   <input name="start_addr[]" class="form-control" type="number" min="1" max="9999" placeholder="1-9999">
																</div>
															</div>	
															<div class="col-sm-3">
																<label class="col" for="length">Read Length</label>
													      		<div class="input-group control-group">
																   <input name="length[]" class="form-control" type="number" min="1" max="100" placeholder="1-100">
																</div>
															</div>
															<div class="col-sm-6">
																<label class="col" for="datatype">Select Datatype</label>
																<div class="btn-group control-group" data-toggle="buttons">
																  <label class="btn btn-primary active">
																    <input type="radio" class="dtt" name="datatypex" id="option1" value="U16" autocomplete="off" checked> U16
																  </label>
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatypex" id="option2" value="U32" autocomplete="off"> U32
																  </label>
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatypex" id="option3" value="S16" autocomplete="off" > S16
																  </label>
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatypex" id="option4" value="S32" autocomplete="off"> S32
																  </label>
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatypex" id="option5" value="F" autocomplete="off" > Float
																  </label>
																</div>
															</div>
														</div>

														<input type="text" name="datatype[]" id="datatpx" class="hidden-sm-up datatype_entry" value="U16">
														<div class="input-group-btn"> 
															<div class="col-12 widget-right no-padding"> 
																<button class="btn btn-primary btn-md float-right add-more" type="button"><i class="fa fa-plus-square"></i> Add</button>

															</div>
															<br>
														</div>
										        	</div>
										        </div>
										        <br>
										        <br>
										        <br>
											</div>

											<!-- Form actions -->
											<div class="form-group">
												<div class="col-12 widget-right no-padding">
													<button id="sub" type="submit" class="btn btn-primary btn-md float-right">Submit</button>
												</div>
											</div>
										</fieldset>
									</form>	
								</div>

								<div class="col-md-12 col-lg-3">
									<form class="form-horizontal" action="/rtu_edit" method="post">
										<h5 class="text">Existing Files</h5>
										<div class="card mb-4">
											<ul class="list-group">
												{% for n in rtu_names %}
										        	<li style="font-size: 12px;" class="list-group-item justify-content-between">{{n}}
										        		<div class="col"> 
										        			<button id="sub" class="float-right" type="submit" style="border:0px; margin:0px" name="edit_btn" value="{{n}}.del"><i class="fa fa-trash"></i></button>

										        			<button id="sub" class="float-right" type="submit" style="border:0px; margin-right:8px" name="edit_btn" value="{{n}}.edit"><i class="fa fa-edit"></i></button>
														</div>
										        	</li>
										        {% endfor %}
											</ul>
										</div>
									</form>
								</div>
							</section>
						</div>
					</section>
				{% else %}
					<section class="row">
						<div class="col-sm-12">
							<section class="row">
								<div class="col-md-12 col-lg-9">
									<form class="form-horizontal" action="/rtu_create" method="post">
										<fieldset>
											<!-- file name input-->
											<div class="form-group">											
												<div class="row">
													<div class="col-sm-4">
														<label class="col" for="name">File Name</label>
														<input id="filename" name="filename" type="text" placeholder="use A-Z, 0-9" class="form-control" >
													</div>	
													<div class="col-sm-4">
														<label class="col" for="device">Device Address</label>
														<input id="device" name="device" type="number" min="1" max="250" placeholder="1-250 " class="form-control">
													</div>
													<div class="col-sm-4">
														<label class="col" for="retry">Retry Count</label>
														<input id="retry" name="retry" type="number" min="0" max="5" placeholder="0-5" class="form-control">
													</div>
												</div>
											</div>

											<div class="form-group">											
												<div class="row">
													<div class="col-sm-6">
														<label class="col" for="name">File Activeness Status</label>
														<div class="btn-group" data-toggle="buttons">
														  <label class="btn btn-primary active">
														    <input type="radio" name="status" id="option1" value="True" autocomplete="off" checked> True
														  </label>
														  <label class="btn btn-primary">
														    <input type="radio" name="status" id="option2" value="False" autocomplete="off"> False
														  </label>
														</div>
													</div>	
													<div class="col-sm-6">
														<label class="col" for="name">Endian Mode</label>
														<div class="btn-group" data-toggle="buttons">
														  <label class="btn btn-primary active">
														    <input type="radio" name="endian" id="option1" value="little" autocomplete="off" checked> Little
														  </label>
														  <label class="btn btn-primary">
														    <input type="radio" name="endian" id="option2" value="big" autocomplete="off"> Big
														  </label>
														</div>
													</div>
												</div>
											</div>

											<!-- Read Addresses-->
											<div class="container">
										        <div class="form-group">
								        			<label class="col" for="name"><h5>Read Addresses</h5></label>
								      				<div class="after-add-more">		
								      					<div class="row">
										        			<div class="col-sm-3">
											      				<label class="col" for="addresses">Start Address</label>
											      				<div class="input-group control-group">
														   			<input name="start_addr[]" class="form-control" type="number" min="1" max="9999" placeholder="1-9999">
																</div>
															</div>
															<div class="col-sm-3">
																<label class="col" for="length">Read Length</label>
											      				<div class="input-group control-group">
														   			<input name="length[]" class="form-control" type="number" min="1" max="100" placeholder="1-100">
																</div>
															</div>
															<div class="col-sm-6">
																<label class="col" for="datatype[]">Select Datatype</label>
																<div class="btn-group control-group" data-toggle="buttons">
																  <label class="btn btn-primary active">
																    <input type="radio" class="dtt" name="datatype1" id="option1" value="U16" autocomplete="off" checked> U16
																  </label>
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatype1" id="option2" value="U32" autocomplete="off"> U32
																  </label>
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatype1" id="option3" value="S16" autocomplete="off" > S16
																  </label>
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatype1" id="option4" value="S32" autocomplete="off"> S32
																  </label>
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatype1" id="option5" value="F" autocomplete="off" > Float
																  </label>
																</div>
															</div>
														</div>
														<input type="text" name="datatype[]" id="datatp1" class=" hidden-sm-up datatype_entry" value="U16">
														<div class="col-12 widget-right no-padding"> 
															<button class="btn btn-primary btn-md float-right add-more" type="button"><i class="fa fa-plus-square"></i> Add</button>
														</div>
														<br>
														<br>
													</div>
										        </div>

										        <!-- Copy Fields-These are the fields which we get through jquery and then add after the above input,-->
										        
										        <div class="copy-fields hidden-sm-up">
										        	<div class="after-add-more">	
										      			<div class="row">
										      				<div class="col-sm-3">
													      		<label class="col" for="addresses">Start Address</label>
													      		<div class="input-group control-group">
																   <input name="start_addr[]" class="form-control" type="number" min="1" max="9999" placeholder="1-9999">
																</div>
															</div>	
															<div class="col-sm-3">
																<label class="col" for="length">Read Length</label>
													      		<div class="input-group control-group">
																   <input name="length[]" class="form-control" type="number" min="1" max="100" placeholder="1-100">
																</div>
															</div>
															<div class="col-sm-6">
																<label class="col" for="datatype">Select Datatype</label>
																<div class="btn-group control-group" data-toggle="buttons">
																  <label class="btn btn-primary active">
																    <input type="radio" class="dtt" name="datatypex" id="option1" value="U16" autocomplete="off" checked> U16
																  </label>
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatypex" id="option2" value="U32" autocomplete="off"> U32
																  </label>
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatypex" id="option3" value="S16" autocomplete="off" > S16
																  </label>
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatypex" id="option4" value="S32" autocomplete="off"> S32
																  </label>
																  <label class="btn btn-primary">
																    <input type="radio" class="dtt" name="datatypex" id="option5" value="F" autocomplete="off" > Float
																  </label>
																</div>
															</div>
														</div>
														<input type="text" name="datatype[]" id="datatpx" class="hidden-sm-up datatype_entry" value="U16">
														<div class="input-group-btn"> 
															<div class="col-12 widget-right no-padding"> 
																<button class="btn btn-primary btn-md float-right add-more" type="button"><i class="fa fa-plus-square"></i> Add</button>

															</div>
															<br>
														</div>
										        	</div>
										        </div>
										        <br>
										        <br>
										        <br>
											</div>

											<!-- Form actions -->
											<div class="form-group">
												<div class="col-12 widget-right no-padding">
													<button id="sub" type="submit" class="btn btn-primary btn-md float-right">Submit</button>
												</div>
											</div>
										</fieldset>
									</form>	
								</div>

								<div class="col-md-12 col-lg-3">
									<form class="form-horizontal" action="/rtu_edit" method="post">
										<h5 class="text">Existing Files</h5>
										<div class="card mb-4">
											<ul class="list-group">
												{% for n in rtu_names %}
										        	<li style="font-size: 12px;" class="list-group-item justify-content-between">{{n}}
										        		<div class="col"> 
										        			<button id="sub" class="float-right" type="submit" style="border:0px; margin:0px" name="edit_btn" value="{{n}}.del"><i class="fa fa-trash"></i></button>

										        			<button id="sub" class="float-right" type="submit" style="border:0px; margin-right:8px" name="edit_btn" value="{{n}}.edit"><i class="fa fa-edit"></i></button>
														</div>
										        	</li>
										        {% endfor %}
											</ul>
										</div>
									</form>
								</div>
							</section>
						</div>
					</section>
				{% endif %}
				</div>
			</main>
		</div>
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/dist/js/bootstrap.min.js"></script>
    
    <script src="static/js/tether.min.js"></script>
    	
    <script type="text/javascript">
    $(document).ready(function() {
    	if ("{{edit_en}}") {
		    var field_counts = ({{rtu_data[5]}}.length);
		} else {
		    var field_counts = 1;
		}
     	$("body").on("click",".add-more",function(e){ 
     		field_counts++;
          var html = $(".copy-fields").html();
          html = html.replace(/datatypex/g, 'datatype'+field_counts)
          html = html.replace(/datatpx/g, 'datatp'+field_counts)
          $(this).parents(".after-add-more").after(html);
          $(this).replaceWith( "<button class=\"btn btn-primary btn-md float-right remove\" type=\"button\"><i class=\"fa fa-minus-square\"></i> Remove</button>" );
      });
      $("body").on("click",".remove",function(){ 
      	field_counts--;
          $(this).parents(".after-add-more").remove();
      });
      $(document).on('change', ".dtt", function(){
      	name = $(this).attr('name').replace('datatype', '')
      	$("#datatp"+name).val($(this).val())
      })
    });
	</script>


	</body>
</html>