<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<meta name="description" content="">
	
	<meta name="author" content="">
	
	<link rel="icon" href="static/images/Linear.jpg">
	
	<title>Linear Logger</title>

    <!-- Bootstrap core CSS -->
    <link href="static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--Fonts-->
    <link href="static/css/fonts-all.css" rel="stylesheet">
    
    <!-- Icons -->
    <link href="static/css/font-awesome.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="static/css/style.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid" id="wrapper">
		<div class="row">
			<nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2 bg-faded sidebar-style-1">
				<h1 class="site-title"><a href="/"><em class="fa fa-television"></em> Logger</a></h1>
				
				<a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>
				
				<ul class="nav nav-pills flex-column sidebar-nav">
					<li class="nav-item"><a class="nav-link" href="/welcome"><em class="fa fa-th"></em> Welcome</a></li>
					<li class="nav-item"><a class="nav-link" href="/ftp_settings"><em class="fa fa-cog"></em> Network Setting</a></li>
					<li class="nav-item"><a class="nav-link" href="/modbus_settings"><em class="fa fa-cog"></em> MODBUS Settings</a></li>
					<li class="nav-item"><a class="nav-link" href="/zigbee_settings"><em class="fa fa-cog"></em> Zigbee Settings</a></li>
					<li class="nav-item"><a class="nav-link" href="/general_settings"><em class="fa fa-cog"></em> General Settings</a></li>
					<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
			          <a class="nav-link active nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
			            <i class="fa fa-file-o"></i>
			            <span class="nav-link-text">Rtu file settings</span>
			          </a>
			          <ul class="sidenav-second-level collapse" id="collapseComponents">
			            <li class="nav-item"><a class="nav-link" href="/rtu_create"><em class="fa fa-file-o"></em> Create RTU</a></li>
			            <li class="nav-item"><a class="nav-link" href="/rtu_edit"><em class="fa fa-file-o"></em> Edit RTU</a></li>
			          </ul>
			        </li>
					<li class="nav-item"><a class="nav-link" href="/data_files"><em class="fa fa-folder-o"></em> Data Files</a></li>
					<li class="nav-item"><a class="nav-link" href="/log"><em class="fa fa-file-text-o"></em> Log Files</a></li>
				</ul>
				
				<a href="/signout" class="logout-button"><em class="fa fa-power-off"></em> Signout</a></nav>
			
			<main class="col-xs-12 col-sm-8 offset-sm-4 col-lg-9 offset-lg-3 col-xl-10 offset-xl-2 pt-3 pl-4">
				<header class="page-header row justify-center">
					<div class="col-md-6 col-lg-8" >
						<h1 class="float-left text-center text-md-left">RTU File Generator</h1>
					</div>
					
					<div class="dropdown user-dropdown col-md-6 col-lg-4 text-center text-md-right"><a class="btn btn-stripped dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img src="static/images/Linear.jpg" alt="profile photo" class="circle float-left profile-photo" width="100" height="auto">
						
						<div class="username mt-1">
							<h4 class="mb-1">{{active_user}}</h4>
							
							<h6 class="text-muted">Admin</h6>
						</div>
						</a>
						
						<div class="dropdown-menu dropdown-menu-right" style="margin-right: 1.5rem;" aria-labelledby="dropdownMenuLink">
						     <a class="dropdown-item" href="/signout"><em class="fa fa-power-off mr-1"></em> Logout</a></div>
					</div>
					
					<div class="clear"></div>
				</header>

				
				<section class="row">
					<div class="col-sm-12">
						<section class="row">
							<div class="col-md-12 col-lg-8">
								<form class="form-horizontal" action="/rtu_create" method="post">
									<fieldset>
										<!-- file name input-->
										<div class="form-group">											
											<div class="row">
												<div class="col-sm-4">
													<label class="col" for="name">File Name</label>
													<input id="filename" name="filename" type="text" placeholder="use A-Z, 0-9" class="form-control">
												</div>	
												<div class="col-sm-4">
													<label class="col" for="device">Device Address</label>
													<input id="device" name="device" type="number" min="1" max="250" placeholder="1-250 " class="form-control">
												</div>
												<div class="col-sm-4">
													<label class="col" for="retry">Retry Count</label>
													<input id="retry" name="retry" type="number" min="0" max="5" placeholder="0-5" class="form-control">
												</div>
											</div>
										</div>

										<div class="form-group">											
											<div class="row">
												<div class="col-sm-6">
													<label class="col" for="name">File Activeness Status</label>
													<div class="btn-group" data-toggle="buttons">
													  <label class="btn btn-primary active">
													    <input type="radio" name="status" id="option1" value="True" autocomplete="off" checked> True
													  </label>
													  <label class="btn btn-primary">
													    <input type="radio" name="status" id="option2" value="False" autocomplete="off"> False
													  </label>
													</div>
												</div>	
												<div class="col-sm-6">
													<label class="col" for="name">Endian Mode</label>
													<div class="btn-group" data-toggle="buttons">
													  <label class="btn btn-primary active">
													    <input type="radio" name="endian" id="option1" value="little" autocomplete="off" checked> Little
													  </label>
													  <label class="btn btn-primary">
													    <input type="radio" name="endian" id="option2" value="big" autocomplete="off"> Big
													  </label>
													</div>
												</div>
											</div>
										</div>

										<!-- Read Addresses-->
										<div class="container">
									        <div class="form-group">
							        			<label class="col" for="name"><h5>Read Addresses</h5></label>
							      				<div class="after-add-more">		
							      					<div class="row">
									        			<div class="col-sm-3">
										      				<label class="col" for="addresses">Start Address</label>
										      				<div class="input-group control-group">
													   			<input name="start_addr[]" class="form-control" type="number" min="0" max="50000" placeholder="0-50000">
															</div>
														</div>
														<div class="col-sm-3">
															<label class="col" for="length">Read Length</label>
										      				<div class="input-group control-group">
													   			<input name="length[]" class="form-control" type="number" min="1" max="500" placeholder="1-500">
															</div>
														</div>
														<div class="col-sm-6">
															<label class="col" for="datatype[]">Select Datatype</label>
															<div class="btn-group control-group" data-toggle="buttons">
															  <label class="btn btn-primary active">
															    <input type="radio" class="dtt" name="datatype1" id="option1" value="U16" autocomplete="off" checked> U16
															  </label>
															  <label class="btn btn-primary">
															    <input type="radio" class="dtt" name="datatype1" id="option2" value="U32" autocomplete="off"> U32
															  </label>
															  <label class="btn btn-primary">
															    <input type="radio" class="dtt" name="datatype1" id="option3" value="S16" autocomplete="off" > S16
															  </label>
															  <label class="btn btn-primary">
															    <input type="radio" class="dtt" name="datatype1" id="option4" value="S32" autocomplete="off"> S32
															  </label>
															  <label class="btn btn-primary">
															    <input type="radio" class="dtt" name="datatype1" id="option5" value="F" autocomplete="off" > Float
															  </label>
															</div>
														</div>
													</div>
													<input type="text" name="datatype[]" id="datatp1" class=" hidden-sm-up datatype_entry" value="U16">
													<div class="col-12 widget-right no-padding"> 
														<button class="btn btn-primary btn-md float-right add-more" type="button"><i class="fa fa-plus-square"></i> Add</button>
													</div>
													<br>
													<br>
												</div>
									        </div>

									        <!-- Copy Fields-These are the fields which we get through jquery and then add after the above input,-->
									        
									        <div class="copy-fields hidden-sm-up">
									        	<div class="after-add-more">	
									      			<div class="row">
									      				<div class="col-sm-3">
												      		<label class="col" for="addresses">Start Address</label>
												      		<div class="input-group control-group">
															   <input name="start_addr[]" class="form-control" type="number" min="0" max="50000" placeholder="0-50000">
															</div>
														</div>	
														<div class="col-sm-3">
															<label class="col" for="length">Read Length</label>
												      		<div class="input-group control-group">
															   <input name="length[]" class="form-control" type="number" min="1" max="500" placeholder="1-500">
															</div>
														</div>
														<div class="col-sm-6">
															<label class="col" for="datatype">Select Datatype</label>
															<div class="btn-group control-group" data-toggle="buttons">
															  <label class="btn btn-primary active">
															    <input type="radio" class="dtt" name="datatypex" id="option1" value="U16" autocomplete="off" checked> U16
															  </label>
															  <label class="btn btn-primary">
															    <input type="radio" class="dtt" name="datatypex" id="option2" value="U32" autocomplete="off"> U32
															  </label>
															  <label class="btn btn-primary">
															    <input type="radio" class="dtt" name="datatypex" id="option3" value="S16" autocomplete="off" > S16
															  </label>
															  <label class="btn btn-primary">
															    <input type="radio" class="dtt" name="datatypex" id="option4" value="S32" autocomplete="off"> S32
															  </label>
															  <label class="btn btn-primary">
															    <input type="radio" class="dtt" name="datatypex" id="option5" value="F" autocomplete="off" > Float
															  </label>
															</div>
														</div>
													</div>
													<input type="text" name="datatype[]" id="datatpx" class="hidden-sm-up datatype_entry" value="U16">
													<div class="input-group-btn"> 
														<div class="col-12 widget-right no-padding"> 
															<button class="btn btn-primary btn-md float-right add-more" type="button"><i class="fa fa-plus-square"></i> Add</button>

														</div>
														<br>
													</div>
									        	</div>
									        </div>
									        <br>
									        <br>
									        <br>
										</div>

										<!-- Form actions -->
										<div class="form-group">
											<div class="col-12 widget-right no-padding">
												<button id="sub" type="submit" class="btn btn-primary btn-md float-right">Submit</button>
											</div>
										</div>
									</fieldset>
								</form>	
							</div>

							<div class="col-md-12 col-lg-4">
							<h5 class="text">Existing Files</h5>
								<div class="card mb-4">
									<ul class="list-group">
									  	<li class="list-group-item justify-content-between">
									    linear_honda
									    	<div class="badge badge-pill" data-toggle="tooltip" data-placement="top" title="Edit the File"> Edit the File><a href="#" class="edit"><em class="fa fa-edit"></em></a></div>
									    	<div class="badge badge-pill" data-toggle="tooltip" data-placement="top" title="Delete the File"> Delete the File><a href="#" class="trash"><em class="fa fa-trash"></em></a></div>
									 	</li>
									  	<li class="list-group-item justify-content-between">
									    linear_hitachi
									    	<div class="badge badge-pill" data-toggle="tooltip" data-placement="top" title="Edit the File"> Edit the File><a href="#" class="edit"><em class="fa fa-edit"></em></a></div>
									    	<div class="badge badge-pill" data-toggle="tooltip" data-placement="top" title="Delete the File"> Delete the File><a href="#" class="trash"><em class="fa fa-trash"></em></a></div>
									 	</li>
									</ul>
								</div>
							</div>
						</section>
					</div>
				</section>
			</main>
		</div>
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/dist/js/bootstrap.min.js"></script>
    
    <script src="static/js/tether.min.js"></script>
    	
    <script type="text/javascript">
    $(document).ready(function() {
    	var field_counts = 1;
     	$("body").on("click",".add-more",function(e){ 
     		field_counts++;
          var html = $(".copy-fields").html();
          html = html.replace(/datatypex/g, 'datatype'+field_counts)
          html = html.replace(/datatpx/g, 'datatp'+field_counts)
          $(this).parents(".after-add-more").after(html);
          $(this).replaceWith( "<button class=\"btn btn-primary btn-md float-right remove\" type=\"button\"><i class=\"fa fa-minus-square\"></i> Remove</button>" );
      });
      $("body").on("click",".remove",function(){ 
      	field_counts--;
          $(this).parents(".after-add-more").remove();
      });
      $(document).on('change', ".dtt", function(){
      	name = $(this).attr('name').replace('datatype', '')
      	$("#datatp"+name).val($(this).val())
      })
    });
	</script>


	</body>
</html>
